* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(213, 238, 222);
  font-family: sans-serif;
}

header {
  height: 10vh;
  padding: 10px;
  background-color: rgb(243, 235, 235);
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  box-shadow: 2px 2px 25px gray inset;
}

h1 a {
  text-decoration: none;
  color: blueviolet;
}

h1 a:hover {
  color: green;
}

.main_content {
  height: 85vh;
  display: flex;
  margin: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

main {
  width: 60%;
  padding: 5px;
}

aside {
  width: 40%;
  padding: 5px;
}

/* tables settings */

.hide {
  display: none;
}

.table_name {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.table_score {
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

th,
tr,
td {
  border: 1px solid rgb(0, 0, 0);
  min-width: 50px;
  min-height: 50px;
  padding: 6px 8px;
}

tr td:nth-last-child(2) {
  min-width: 250px;
}

/* buttons settings */

.btn {
  display: flex;
  justify-content: center;
}

.btn-play {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 60px;
  width: 175px;
  font-size: 2em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  cursor: pointer;
}

.btn-play:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 214, 44);
  border: 2px solid rgb(3, 83, 32);
  transition: all 0.5s;
}

.btn-reset {
  margin-top: 30px;
  height: 40px;
  width: 100px;
  font-size: 1.3em;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  cursor: pointer;
}

.btn-reset:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 0, 0.804);
  border: 2px solid rgb(112, 3, 3);
  transition: all 0.5s;
}

/* score settings */

.score {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  font-size: 22px;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.result {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  flex-wrap: wrap;
}

#figures {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
}

.dice_score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
  margin: 0 20px 20px 0;
  border: 1px solid black;
  border-radius: 0.5em;
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: white;
}

footer {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
